@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.underline {
  border-bottom-width: 2px;
}

body {
  background-color: #111111;
}
html {
  scroll-behavior: smooth;
}

html,
body,
#root,
.app {
  height: 100%;
  @apply text-white;
}
